@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "color.css";

@mixin dropDown($wval) {
    display: none;
    transition: transform .2s ease-in-out;
    width: $wval;
}


body {
    font-family: 'Inclusive Sans', sans-serif;
}

section {
    margin: 3rem 0;
}

.card {
    border: none !important;
    //box-shadow: 10px 10px 50px rgba(0, 0, 0, .4);

    .card-header {
        background-color: #fff !important;
    }
}

.modal {
    .form-control {
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
        color: #fff;
        border: none;
        border-radius: 0 !important;
        border-bottom: 2px solid #fff !important;
        box-shadow: none;
    }

    .form-group {
        margin-bottom: 15px;
    }
}

.form-control {
    box-shadow: none !important;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.delete-btn {
    cursor: pointer;
}

.form-control-check {
    width: 100px !important;
    accent-color: #ff0000;
    display: none;

    &:checked {
        + .box-content {
            background-color: #ff0000;
        }

        + .box-content::before {
            transform: translateX(80%);
        }
    }

}

input.floating {
    width: 350px;

    &:focus, &:not(:placeholder-shown) {
        border: 2px solid #5151d9 !important;

        ~ .float-label {
            //display: block;
            font-size: 13px;
            margin: 5px;
            padding: 5px;
            transform: translateY(-35px);
            background-color: #fff;
            color: #5151d9;
        }
    }
}

.float-label {
    position: absolute;
    top: 15.5px;
    left: 17.5px;
    //color: blue;
    transition: all .2s ease-in-out;
}

.hr {
    border-bottom: 1px solid #cccccc;
    height: 10px;
    width: 200px;
    margin-right: 5px;
    margin-left: 5px;

}

.box-content {
    margin-bottom: 5px;
    position: relative;
    height: 30px;
    cursor: pointer;
    width: 50px;
    border-radius: 3rem;
    background-color: #cccccc;
    transition: .2s ease-in-out;

    &::before {
        content: '';
        height: 25px;
        width: 25px;
        border-radius: 50%;
        position: absolute;
        margin: 2.5px;
        background-color: #fff;
        transition: .2s ease-in-out;
    }

}

.nav-links {
    > div {
        height: 50px;
        width: 50px;
    }

    button.user-icon {
        &:focus {
            ~ .user-links {
                //display: block !important;
            }
        }
    }

    .user-links {
        //transform: translateY(10%);
        @include dropDown(200px);
        @media only screen and (min-width: 992px) {
            left: -200% !important;
        }

        @media only screen and (max-width: 992px) {
            left: -200% !important;
        }

        @media only screen and (max-width: 576px) {
            left: -300% !important;
        }
    }

}

.filter {
    @include dropDown(200px);

    @media only screen and (max-width: 992px) {
        left: -80px !important;
    }

    @media only screen and (min-width: 992px) {
        left: -80px !important;
    }

    @media only screen and (max-width: 576px) {
        left: -130px !important;
    }
}

.categories-delete-btn {
    cursor: pointer;
}

.filter-btn {
    &:focus {
        ~ .filter {
            display: block;
        }
    }
}

.product-card {
    height: 400px !important;
    font-family: 'Roboto', 'sans-serif' !important;
}
